body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
}

#randomElementOutPut {
    height: 45px;
}

#randomElementOutPut p {
    margin: 0;
    font-weight: bold;
    outline: #0056b3 solid 5px;
    background-color: #b3d4f7;
    padding: 15px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#randomElementOutPut {
    margin-top: 2rem;
    font-size: 1.5rem;
}